:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --icon-link-color: #afb1b8;
}
.page {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.button {
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  border-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus,
.button:hover {
  background-color: #188ce8;
}
.button__icon {
  margin-left: 10px;
  fill: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.hidden {
  color: transparent;
  line-height: 0;
  margin: 0;
}

/* header */
.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}
/* logo */
.logo-part-1 {
  margin-right: 93px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo-part-2 {
  color: #000000;
}
.logo-part-2--inverse {
  color: #ffffff;
}
/* site nav */
.nav__list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus::after,
.nav__link:hover::after {
  opacity: 1;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  opacity: 1;
}
/* contacts */
.contacts {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;

  color: var(--primary-text-color);
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__mail,
.contacts__tel {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
/* main */
.main-content {
  background-color: var(--primary-background-color);
}
/* hero */
.hero {
  box-sizing: border-box;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  background-color: var(--secondary-background-color);
}
.hero__title {
  width: 700px;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* features */

.features__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin: 0;
}
.features__item {
  flex-basis: calc((100% - 90px) / 4);
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__label {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
}
/* work */
.work {
  padding-top: 0;
}

.work__list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.work__item {
  position: relative;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__img {
  display: block;
}
.work__thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}
.work__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
}
.card {
  background-color: var(--primary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card:not(:last-child) {
  margin-right: 30px;
}
.card__img {
  display: block;
}
.card__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.card__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.card__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin: 16px auto 0 auto;
}
.card__link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  color: var(--icon-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover,
.card__link:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.card__item:not(:last-child) {
  margin-right: 10px;
}
.card__icon {
  display: block;
  fill: currentColor;
}
/* clients */

.clients__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.clients__link {
  display: block;
  padding: 13px 31px;
  border: 1px solid var(--icon-link-color);
  border-radius: 4px;
  color: var(--icon-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:focus,
.clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  display: block;
  fill: currentColor;
}
/* portfolio */

.filter {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  list-style: none;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  padding: 6px 22px;
  border-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  color: var(--title-text-color);
  background-color: #f5f4fa;

  box-shadow: none;
  cursor: pointer;
  transition-property: color, border-color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:focus,
.filter__button:hover {
  border-color: var(--accent-color);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio__link {
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  text-decoration: none;
}
.portfolio__link:focus,
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
  background: rgba(33, 150, 243, 0.9);
}
.portfolio__img {
  display: block;
}
.portfolio__box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:focus .portfolio__box,
.portfolio__link:hover .portfolio__box {
  transform: translateY(0);
}
.portfolio__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-text-color);
}

.portfolio__description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio__partition {
  margin: 0;

  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.address__box {
  margin-right: 70px;
}
.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}
.address__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__address {
  text-decoration: none;
  display: block;
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__address:focus,
.address__address:hover {
  color: var(--accent-color);
}
.address__mail,
.address__tel {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  margin-right: 93px;
}
.join__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.join__box {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin: 16px auto 0 auto;
}
.join__link {
  display: block;
  padding: 12px;
  background-color: #ffffff10;
  border-radius: 50%;
  color: var(--secondary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover,
.join__link:focus {
  background-color: var(--accent-color);
}
.join__item:not(:last-child) {
  margin-right: 10px;
}
.join__icon {
  display: block;
  fill: currentColor;
}

.subscribe {
  display: flex;
  align-items: flex-end;
}
.subscribe__label {
  display: flex;
  flex-direction: column;
}
.subscribe__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.subscribe__input {
  display: inline-block;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  box-sizing: border-box;
  border: 1px solid #ffffff4d;
  border-radius: 4px;

  background-color: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(3);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  background-color: var(--primary-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-icon {
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-icon:focus,
.modal__close-icon:hover {
  outline: none;
  fill: var(--accent-color);
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  height: 100%;
}
.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.modal__label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  position: relative;
}
.modal__text {
  display: block;
  margin-bottom: 4px;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 12px 10px 12px 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}
.modal__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(100%);
  cursor: text;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-visible + .modal__icon {
  fill: var(--accent-color);
}
.modal__label:nth-child(5) {
  margin-bottom: 20px;
}
.modal__text-area {
  height: 120px;
  padding-left: 16px;
  resize: none;
}
.modal__text-area::placeholder {
  color: #75757580;
}
.modal__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 5px 0;
  cursor: pointer;

  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.modal__checkbox-icon {
  margin-right: 7px;
  padding-bottom: 2px;
  box-sizing: content-box;
  stroke: #000000;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:hover + .modal__checkbox-icon,
.modal__checkbox:focus + .modal__checkbox-icon {
  stroke: var(--accent-color);
}
.modal__checkbox:checked + .modal__checkbox-icon {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
.modal__policy {
  color: var(--accent-color);
}
.modal__button {
  margin-left: auto;
  margin-right: auto;
}
