.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity $transition-duration $transition-timing-function,
    visibility $transition-duration $transition-timing-function;
}
.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .modal {
    transform: translate(-50%, -50%) scale(3);
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  background-color: $primary-background-color;
  transition: transform $transition-duration $transition-timing-function;
}
.modal__close-icon {
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: #000000;
  transition: fill $transition-duration $transition-timing-function;
  &:focus,
  &:hover {
    outline: none;
    fill: $accent-color;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  height: 100%;
}
.modal__title {
  margin-bottom: 12px;
  @extend %modal__title-font;
  text-align: center;
  color: $title-text-color;
}
.modal__label {
  margin-bottom: 10px;
  @extend %modal__label-font;
  color: $primary-text-color;
  position: relative;
}
.modal__text {
  display: block;
  margin-bottom: 4px;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 12px 10px 12px 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  transition: border-color $transition-duration $transition-timing-function;
  &:focus-visible {
    outline: none;
    border-color: $accent-color;
  }
  &:focus-visible + .modal__icon {
    fill: $accent-color;
  }
}
.modal__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(100%);
  cursor: text;
  fill: $title-text-color;
  transition: fill $transition-duration $transition-timing-function;
}

.modal__label:nth-child(5) {
  margin-bottom: 20px;
}
.modal__text-area {
  height: 120px;
  padding-left: 16px;
  resize: none;
  &::placeholder {
    color: #75757580;
  }
}
.modal__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 5px 0;
  cursor: pointer;

  color: $primary-text-color;
  @extend %modal__checkbox-label-font;
}
.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  &:hover + .modal__checkbox-icon,
  &:focus + .modal__checkbox-icon {
    stroke: $accent-color;
  }
  &:checked + .modal__checkbox-icon {
    stroke: $accent-color;
    fill: $accent-color;
  }
}
.modal__checkbox-icon {
  margin-right: 7px;
  padding-bottom: 2px;
  box-sizing: content-box;
  stroke: #000000;
  fill: transparent;
  transition: fill $transition-duration $transition-timing-function,
    stroke $transition-duration $transition-timing-function;
}

.modal__policy {
  color: $accent-color;
}
.modal__button {
  margin-left: auto;
  margin-right: auto;
}
