.clients__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.clients__link {
  display: block;
  padding: 13px 31px;
  border: 1px solid $icon-link-color;
  border-radius: 4px;
  color: $icon-link-color;
  transition: color $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;

  &:focus,
  &:hover {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.clients__icon {
  display: block;
  fill: currentColor;
}
