.page {
  @extend %page-font;
  color: $primary-text-color;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.button {
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  border-color: $accent-color;
  border-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @extend %button-font;
  color: $secondary-text-color;
  background-color: $accent-color;

  transition: background-color $transition-duration $transition-timing-function;

  &:focus,
  &:hover {
    background-color: $button-focused-color;
  }
}
.button__icon {
  margin-left: 10px;
  fill: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  @extend %section-title-font;
  color: $title-text-color;
}
.hidden {
  color: transparent;
  line-height: 0;
  margin: 0;
}
.main-content {
  background-color: $primary-background-color;
}
