.features__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin: 0;
}
.features__item {
  flex-basis: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.features__box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__label {
  margin-top: 0;
  margin-bottom: 10px;

  @extend %features__label-font;

  color: $title-text-color;
}
.features__text {
  margin-top: 0;
  margin-bottom: 0;

  @extend %features__text-font;
}
