.hero {
  box-sizing: border-box;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  background-color: $secondary-background-color;
}
.hero__title {
  width: 700px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

  @extend %hero__title-font;

  color: $secondary-text-color;
}
