.logo-part-1 {
  margin-right: 93px;
  color: $accent-color;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo-part-2 {
  color: #000000;
}
.logo-part-2--inverse {
  color: #ffffff;
}
