$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$icon-link-color: #afb1b8;
$button-focused-color: #188ce8;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$min-mobile: 480px;
$max-mobile: 767.9px;
$min-tablet: 768px;
$max-tablet: 1199.9px;
$min-desktop: 1200px;
$max-desktop: 1600px;
